<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="oldie ie6" lang="en"><![endif]-->
<!--[if IE 7 ]><html class="oldie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="oldie ie8" lang="en"><![endif]-->
<!--[if IE 9 ]><html class="ie9" lang="en"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>

	<title>Praxis</title>

	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

        <link rel="stylesheet" href="css/reset.css" />
        <link rel="stylesheet" href="css/style.css" />
        
</head>
<body>
    
	<section id="siteWrapper">
            <header>
                <a href="#"><h1>Praxis</h1></a>
                
                <nav>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Stages</a></li>
                        <li><a href="#">Companies</a></li>                        
                    </ul>
                </nav>
            
            </header>
            
            <!-- content -->
            <section id="content">
                
                <section id="banner">
                    
                    <img src="Images/lotusBakeries.jpg" alt="lotus"/>
                    <section id="bannerInfo">
                        <h3>Company</h3>
                        <ul>
                            <li>Location
                                <ul>
                                    <li><a href="#">Location 1</a></li>
                                </ul>
                            </li>

                            <li>Interschips
                                <ul>
                                    <li><a href="#">X remaining</a></li>
                                </ul>
                            </li>

                            <li>Sectors
                                <ul>
                                    <li><a href="#">Sector 1</a></li>
                                    <li><a href="#">Sector 2</a></li>
                                    <li><a href="#">Sector 3</a></li>
                                </ul>
                            </li>
                        </ul>
                    </section>
                </section>
                
                <section id="contentBottom">
                    <section id="contentBottomLeft">
                        <section class="left">
                            <h3>Stages</h3>
                            <ul>
                                <li><a href="#">Sector 1</a></li>
                                <li><a href="#">Sector 2</a></li>
                                <li><a href="#">Sector 3</a></li>
                            </ul>
                        </section>

                        <section class="left">
                            <h3>Locations</h3>
                            <ul>
                                <li><a href="#">Sector 1</a></li>
                                <li><a href="#">Sector 2</a></li>
                                <li><a href="#">Sector 3</a></li>
                            </ul>
                        </section>
                    </section>
                    
                    <section id="contentBottomRight">
                        <h3>Stages in spotlight</h3>
                        <article class ="right">
                            <ul>
                                <li>ICT</li>
                                <li>Onderhoud</li>
                            </ul>
                            <h4>Netwerk Enginering</h4>
                        </article>
                        
                        <article class ="right">
                            <ul>
                                <li>ICT</li>
                                <li>Onderhoud</li>
                            </ul>
                            <h4>Netwerk Enginering</h4>
                        </article>
                        
                        <article class ="right">
                            <ul>
                                <li>ICT</li>
                                <li>Onderhoud</li>
                            </ul>
                            <h4>Netwerk Enginering</h4>
                        </article>
                        
                        <article class ="right">
                            <ul>
                                <li>ICT</li>
                                <li>Onderhoud</li>
                            </ul>
                            <h4>Netwerk Enginering</h4>
                        </article>
                        
                        <article class ="right">
                            <ul>
                                <li>ICT</li>
                                <li>Onderhoud</li>
                            </ul>
                            <h4>Netwerk Enginering</h4>
                        </article>
                        
                        <article class ="right">
                            <ul>
                                <li>ICT</li>
                                <li>Onderhoud</li>
                            </ul>
                            <h4>Netwerk Enginering</h4>
                        </article>
                        
                        <article class ="right">
                            <ul>
                                <li>ICT</li>
                                <li>Onderhoud</li>
                            </ul>
                            <h4>Netwerk Enginering</h4>
                        </article>
                        
                        <article class ="right">
                            <ul>
                                <li>ICT</li>
                                <li>Onderhoud</li>
                            </ul>
                            <h4>Netwerk Enginering</h4>
                        </article>        
                    </section>
                    
                    
                </section>
            </section>
                      

	</section>

</body>
</html>