    {# extend the parent tpl #}
{% extends 'layout.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Homepage' %}

{% block pageContent %}
<section id="content">

    <section id="banner">

        <img src="Images/lotusBakeries.jpg" alt="lotus"/>
        <section id="bannerInfo">
            <h3>Company</h3>
            <ul>
                <li>Location
                    <ul>
                        <li><a href="#">Location 1</a></li>
                    </ul>
                </li>

                <li>Interschips
                    <ul>
                        <li><a href="#">X remaining</a></li>
                    </ul>
                </li>

                <li>Sectors
                    <ul>
                        <li><a href="#">Sector 1</a></li>
                        <li><a href="#">Sector 2</a></li>
                        <li><a href="#">Sector 3</a></li>
                    </ul>
                </li>
            </ul>
        </section>
    </section>

    <section id="contentBottom">
        <section id="contentBottomLeft">
            <section class="left">
                <h3>Stages</h3>
                <ul>
                    <li><a href="#">Sector 1</a></li>
                    <li><a href="#">Sector 2</a></li>
                    <li><a href="#">Sector 3</a></li>
                </ul>
            </section>

            <section class="left">
                <h3>Locations</h3>
                <ul>
                    <li><a href="#">Sector 1</a></li>
                    <li><a href="#">Sector 2</a></li>
                    <li><a href="#">Sector 3</a></li>
                </ul>
            </section>
        </section>

        <section id="contentBottomRight">
            <h3>Stages in spotlight</h3>
            {% if stages %}
            {% for stage in stages %}
            <article class ="right">
                <ul>
                    {% for sector in stage.sectors %}
                        <li>{{sector.name}}</li>
                    {% endfor %}
                </ul>
                    <h4><a href="{{ app.request.baseUrl }}/internships/{{stage.idInternship}}">{{stage.Title}}</a></h4>
            </article>

            {% endfor %}
            {% else %}
            <p>No stages to show!</p>
            {% endif %}
        </section>
    </section>
</section>
{% endblock %}