{# extend the parent tpl #}
{% extends 'layout.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Linkdumpr' %}

{% block pageContent %}
<h2>Home page</h2>

<H3>Title 1</h3>
<p>Some content to fill this up</p>
<H3>Title 2</h3>
<p>Some more content to fill this up</p>


{% endblock %}