{# extend the parent tpl #}
{% extends 'layout.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Ohoh' %}


{% block pageContent %}
<h2 class="title">404 - Darn it!</h2>
<p>
    <strong>This is not the page you're looking for!</strong>
    <br />{{ error }}
</p>
{% endblock %}